<div class="container mt-3 border">
  <div class="row align-items-center border-bottom">
    <div class="naslov col-7">Moja muzička lista</div>
    <div class="col-5">
      <button type="button" class="btn btn-warning float-end m-2" data-bs-toggle="modal" data-bs-target="#kategorijeModal">Kategorije</button>
      <button type="button" class="btn btn-warning float-end m-2" data-bs-toggle="modal" data-bs-target="#modalDodajUredi"
      (click)="modalDodavanja()">Dodaj pjesmu</button>
      <button type="button" class="btn btn-warning float-end m-2" data-bs-toggle="modal" data-bs-target="#dodajKategoriju"
      (click)="modalDodavanjaKategorije()">Dodaj kategoriju</button>
    </div>
  </div>

  <table class="table table-striped mt-3">
    <thead>
        <th>ID</th>
        <th>Naziv Pjesme</th>
        <th>Naziv Izvođača</th>
        <th>Kategorija</th>
        <th>URL</th>
        <th>Ocjena</th>
        <th>Favorit</th>
        <th>Datum unosa</th>
        <th>Datum edita</th>
        <th>Mogućnosti:</th>
    </thead>
    <tbody>
      <div *ngIf=""></div>
        <tr *ngFor="let item of listaPjesama$|async">
            <th scope="row">{{item.pjesmaId}}</th>
            <td>{{item.pjesmaName}}</td>
            <td>{{item.pjesmaIzvodjac}}</td>
            <td>{{listaKategorijaMap.get(item.pjesmaKategorijaId)}}</td>
            <td><a href="{{item.pjesmaUrl}}">{{item.pjesmaUrl}}</a></td>
            <td>{{item.pjesmaOcjena}}</td>
            <td>{{item.pjesmaFavorit ? "Da": "Ne" }}</td>
            <td>{{item.pjesmaDodana}}</td>
            <td>{{item.pjesmaEdit}}</td>
            <td>
              <button class="btn btn-outline-primary me-2 mb-1"
              (click)="modalUredi(item)" data-bs-toggle="modal" data-bs-target="#modalDodajUredi">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                </svg>
              </button>
              <button class="btn btn-outline-danger me-2 mb-1"
              (click)="obrisi(item)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                </svg>
              </button>
            </td>
        </tr>
    </tbody>
</table>
</div>
<div class="alert alert-success mt-3" role="alert" id="dodaj-kategoriju-alert">
  Uspješno ste dodali novu kategoriju!
</div>
<div class="alert alert-success mt-3" role="alert" id="dodaj-uspjesno-alert">
  Uspješno ste dodali novu pjesmu!
</div>
<div class="alert alert-success mt-3" role="alert" id="azuriraj-uspjesno-alert">
  Uspješno ste ažurirali postojeću pjesmu!
</div>
<div class="alert alert-danger mt-3" role="alert" id="brisanje-uspjesno-alert">
  Uspješno ste obrisali pjesmu!
</div>

  
<!-- Kategorije Modal -->
<div class="modal fade" id="kategorijeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Kategorije pjesama</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p *ngFor="let kategorija of listaKategorija$|async">{{kategorija.id}} - {{kategorija.kategorijaPjesme}}</p>
            </div>
        </div>
    </div>
</div>


  
  <!-- Dodaj/Ažuriraj pjesmu modal -->
  <div class="modal fade" id="modalDodajUredi" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{modalNaslov}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zatvori"
          (click)="modalZatvori()" id="dodaj-uredi-pjesmu-zatvori"></button>
        </div>
        <div class="modal-body">
          <app-dodaj-uredi-pjesmu [pjesma]="pjesma" *ngIf="aktivirajModalAddEditPjesmu"></app-dodaj-uredi-pjesmu>
        </div>
      </div>
    </div>
  </div>

    <!-- Dodaj kategoriju modal -->
    <div class="modal fade" id="dodajKategoriju" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">{{modalNaslov}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zatvori"
            (click)="modalZatvoriKategorije()" id="dodaj-kategoriju-zatvori"></button>
          </div>
          <div class="modal-body">
            <app-dodaj-kategoriju *ngIf="aktivirajModalDodavanjaKategorije"></app-dodaj-kategoriju>
          </div>
        </div>
      </div>
    </div>